*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work sans";
}
.html{
    scroll-behavior: smooth;
}
.inner{
    max-width: 900px;
    margin: auto;
    padding: 0 40px;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
body{
    background: linear-gradient(135deg,rgba(128, 0, 128, 0.788),rgba(255, 68, 0, 0.623));
    background-color: black;
}

/* Main part */

.heading{
    color: #b83b5e;
    font-family: "Allura";
    text-shadow: 0 0 7px #f08a5d, 0 0 7px #f08a5d, 20px 20px 20px black;
    font-size: 4.5rem;
    animation-name: h1anim;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    letter-spacing: 3px;
}
@keyframes h1anim{
    0%{
        color: #b83b5e;
        text-shadow: 0 0 7px #f08a5d, 0 0 7px #f08a5d, 20px 20px 20px black;
    }
    25%{
        color: #8a0696;
        text-shadow: 0 0 7px #df5feb, 0 0 7px #df5feb, 20px 20px 20px black;
    }
    50%{
        color: #aa0028;
        text-shadow: 0 0 7px #fd6b8d, 0 0 7px #fd6b8d, 20px 20px 20px black;
    }
    75%{
        color: #4f52a8;
        text-shadow: 0 0 7px #9ab3f5, 0 0 7px #9ab3f5, 20px 20px 20px black;
    }
}
.desc{
    color: #cacaca;
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.text{
    color: #afafaf;
    letter-spacing: 1px;
}
.add{
    color: #afafaf;
    font-size: 0.75rem;
}
.end{
    color: #d3d3d3;
    font-size: 2rem;
    letter-spacing: 4px;
    width: 100%;
}
.footer{
    color: pink;
    width: 100%;
}
/* Main part end */
@media (max-width: 700px){
    .inner{
        height: 120vh;
    }
}